body {
  overflow-x: hidden;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff !important;
}

a,
i,
span {
  display: inline-block;
  text-decoration: none;
/* transition: all 0.3s;*/
}

a:hover, a:focus,
i:hover,
i:focus,
span:hover,
span:focus {
  text-decoration: none;
}

/*a i {
  transition: none;
}
*/
ul {
  margin: 0;
  padding: 0;
}

section {
  padding: 100px 0;
  overflow-x: hidden;
}

button,
input {
  outline: none /*!important*/;
  font-family: "Open Sans", sans-serif;
}

button {
  cursor: pointer;
}

main/*,
aside */{
  padding: 50px 0 100px;
}

h1 a {
  margin-left: 10px;
  font-size: 0.9em;
  opacity: 0;
  /*transition: all 0.3s;*/
  color: #555;
  text-decoration: none;
}

h1:hover a {
  opacity: 1;
}

.animsition {
  z-index: 9999;
}

.category a {
  color: #796AEE;
  letter-spacing: 0.08em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
}

/*.category a::after {
  content: ',';
  color: #ddd;
  display: inline-block;
  margin-right: 5px;
}

.category a:last-of-type::after {
  display: none;
}*/

.category a:hover {
  color: #000;
}
.bg-red {
  background: #ff7676 !important;
  color: #fff;
}

.bg-red:hover {
  color: #fff;
}

.bg-blue {
  background: #85b4f2 !important;
  color: #fff;
}

.bg-blue:hover {
  color: #fff;
}

.bg-yellow {
  background: #ffd500 !important;
  color: #fff;
}

.bg-yellow:hover {
  color: #fff;
}

.bg-green {
  background: #54e69d !important;
  color: #fff;
}

.bg-green:hover {
  color: #fff;
}

.bg-orange {
  background: #ffc36d !important;
  color: #fff;
}

.bg-orange:hover {
  color: #fff;
}

.bg-violet {
  background: #796AEE !important;
  color: #fff;
}

.bg-violet:hover {
  color: #fff;
}

.bg-gray {
  background: #eceeef !important;
}

.bg-white {
  background: #fff !important;
}

.text-red {
  color: #ff7676;
}

.text-red:hover {
  color: #ff7676;
}

.text-yellow {
  color: #ffd500;
}

.text-yellow:hover {
  color: #ffd500;
}

.text-green {
  color: #54e69d;
}

.text-green:hover {
  color: #54e69d;
}

.text-orange {
  color: #ffc36d;
}

.text-orange:hover {
  color: #ffc36d;
}

.text-violet {
  color: #796AEE;
}

.text-violet:hover {
  color: #796AEE;
}

.text-blue {
  color: #85b4f2;
}

.text-blue:hover {
  color: #85b4f2;
}

.text-gray {
  color: #999;
}

.text-gray:hover {
  color: #999;
}

.text-white {
  color: #fff;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.padding-small {
  padding: 100px 0;
}

.btn {
  border-radius: 0 !important;
}

.badge {
  font-weight: 300;
}

.badge-rounded {
  border-radius: 50px;
}

.heading-light {
  font-weight: 300 !important;
}

.heading-medium {
  font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.5;
  color: inherit;
}
.animsition-link {
  font-weight: 700;
  color: black;
}
.text-big {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.8em;
  color: #111;
}
a.hero-link {
  color: inherit;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
  margin-top: 20px;
  font-weight: 300;
}

a.hero-link::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  background: #fff;
  transition: all 0.3s;
}

a.hero-link:hover {
  color: #796AEE;
}

a.hero-link:hover::after {
  background: #796AEE;
}
.navbar {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 9998;
  border-bottom: 1px solid #ddd;
}

.navbar .langs a:first-of-type {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
  height: 20px;
  line-height: 20px;
}

.navbar .navbar-toggler {
  margin-top: 5px;
}

.navbar .navbar-toggler span {
  width: 20px;
  height: 2px;
  background: #222;
  margin-bottom: 4px;
  display: block;
}

/*.navbar .navbar-toggler span:last-of-type {
  margin-bottom: 0;
}

.navbar .navbar-toggler.active span {
  margin: 0;
}

.navbar .navbar-toggler.active span:first-of-type {
  transform: rotate(45deg) translate(3px);
}

.navbar .navbar-toggler.active span:nth-of-type(2) {
  opacity: 0;
}

.navbar .navbar-toggler.active span:last-of-type {
  transform: rotate(-45deg) translate(3px);
}*/

.navbar .langs a {
  font-size: 0.8em;
  color: #aaa;
  font-weight: 700;
}

.navbar .langs a.active {
  color: #333;
}

.navbar .langs span {
  width: 15px;
  height: 1px;
  background: #ddd;
  margin: 0 5px;
}

.navbar .navbar-nav a.nav-link {
  color: #333;
  margin: 0 5px;
  font-weight: 400;
  font-size: 0.95em;
}

.navbar .navbar-nav a.nav-link:hover {
  color: #796AEE;
}

.navbar .navbar-nav a.nav-link.active {
  color: #796AEE;
  font-weight: bold;
}

.navbar-header img {
  margin-right: 20px;
}
/*
* ==========================================================
*     HERO SECTION
* ==========================================================
*/
section.hero {
  padding: 0;
  color: #fff;
  background: url(../../public/img/45.jpg);
  background-size: cover;
  background-position: center center;
}

section.hero .container {
  padding: 200px 20px;
  position: relative;
}

section.hero h1 {
  line-height: 1.2em;
}

.community .image {
    max-height: 300px !important;
    width: auto;
    overflow: hidden;
    padding: 0;
}

.community .image img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

/*
* ==========================================================
*     FEATURED POSTS SECTION
* ==========================================================
*/
section.featured-posts .row:nth-of-type(odd) .text {
  background: #fafafa;
}

/*section.featured-posts .row:last-of-type {
  margin-bottom: 0;
}*/

section.featured-posts p {
  font-weight: 400;
  color: #777;
  font-size: 0.95em;
}

section.featured-posts .text-inner {
  padding: 70px 30px;
  height: 100%;
  transition: all 0.3s;
}

section.featured-posts a {
  color: inherit;
  text-decoration: none;
}

section.featured-posts h2 {
  line-height: 1.1em;
  color: #333;
  transition: all 0.3s;
}

section.featured-posts .h4 {
  font-weight: 600;
}

section.featured-posts h2:hover {
  color: #555;
}

section.featured-posts .avatar {
  max-width: 40px;
  min-width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

section.featured-posts .title,
section.featured-posts .date,
section.featured-posts .comments {
  font-size: 0.8em;
  font-weight: 400;
  color: #999;
}

section.featured-posts .title::after,
section.featured-posts .date::after,
section.featured-posts .comments::after {
  content: '|';
  display: inline-block;
  margin: 0 7px;
  font-size: 0.9em;
  color: #ccc;
}

section.featured-posts .comments {
  background: url(../../public/img/massage.png) 0 50% no-repeat;
  padding-left: 15px;
}

section.featured-posts .comments::after {
  display: none;
}

section.featured-posts .image {
  max-height: 400px;
  width: auto;
  overflow: hidden;
  padding: 0;
}

section.featured-posts .image img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

section.featured-posts .post-header {
  margin-bottom: 10px;
}

section.featured-posts .post-footer {
  margin-top: 30px;
}

/*
* ==========================================================
*     LATEST SECTION
* ==========================================================
*/
section.latest-posts header {
  margin-bottom: 50px;
}

.post-meta {
  margin: 10px 0;
  font-size: 0.8em;
}

.post-meta .date {
  text-transform: uppercase;
  font-weight: 400;
}

.post-meta .date::after {
  display: none;
}

.post a {
  text-decoration: none;
}

.post a:hover, .post a:focus {
  text-decoration: none;

}
.post .category a:hover {
  color: #222;
}
.post h3 {
  line-height: 1.1em;
  color: #222;
  transition: all 0.3s;
  margin-bottom: 1rem;
}

.post h3:hover {
  color: #555;
}

.post .category a {
  color: #796AEE;
  letter-spacing: 0.05em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.post .date {
  letter-spacing: 0.05em;
  font-weight: 400;
  text-transform: uppercase;
  color: #aaa;
}


.post .title::after,
.post .date::after {
  content: '|';
  display: inline-block;
  margin: 0 7px;
  font-size: 0.9em;
  color: #ccc;
}
.community {
    margin-top: 50px;
}

/*
* ==========================================================
*     FOOTER
* ==========================================================
*/
footer.main-footer {
  background: #0e0e0e;
  padding: 50px 0 0;
  color: #fff;
}

footer.main-footer .contact-details p {
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px;
  font-size: 0.95em;
}

footer.main-footer .contact-details a {
  text-decoration: underline;
  margin-bottom: 0;
}

footer.main-footer a {
  color: inherit;
  font-weight: 300;
  margin-bottom: 7px;
}

footer.main-footer a:hover, footer.main-footer a:focus {
  color: #999;
}

footer.main-footer ul {
  margin-right: 30px;
}

footer.main-footer .list-unstyled a {
  font-size: 0.95em;
}

footer.main-footer .menus {
  padding-bottom: 40px;
}

footer.main-footer .social-menu {
  margin-top: 20px;
}

footer.main-footer .social-menu li {
  padding: 0 5px;
}

.addChild {
    padding: 20px;
}
.community {
    margin-top: 50px;
}

.widget {
    margin-bottom: 40px;
    padding: 30px;
    border: 1px solid #eee;
}

.widget header {
    margin-bottom: 20px;
    font-weight: 500;
}

.widget.search .form-group {
    position: relative;
}

.widget.search input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 0.95em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background: none;
}

.widget.search input::-moz-placeholder {
    color: #aaa;
    font-family: "Open Sans", sans-serif;
}

.widget.search input::-webkit-input-placeholder {
    color: #aaa;
    font-family: "Open Sans", sans-serif;
}

.widget.search input:-ms-input-placeholder {
    color: #aaa;
    font-family: "Open Sans", sans-serif;
}

.widget.search .submit {
    height: 40px;
    width: 40px;
    padding: 0;
    line-height: 40px;
    border: none;
    color: #555;
    font-size: 0.9em;
    position: absolute;
    top: 0;
    right: 0;
}
.search-icon {
    /*background: url(../../img/search.png) 50% 50% no-repeat;*/
}

section.latest-posts header {
    margin-bottom: 50px;
}

.post-meta {
    margin: 10px 0;
    font-size: 0.8em;
}

.post-meta .date {
    text-transform: uppercase;
    font-weight: 400;
}

.post-meta .date::after {
    display: none;
}

.post p:not(.lead) {
    font-weight: 400;
    color: #777;
    font-size: 0.95em;
}

.post a {
    text-decoration: none;
}

.post a:hover, .post a:focus {
    text-decoration: none;
}

.post h3 {
    line-height: 1.1em;
    color: #222;
    transition: all 0.3s;
    margin-bottom: 1rem;
}

.post h3:hover {
    color: #555;
}

.post .category a {
    color: #796AEE;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.post .date {
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa;
}

.post .avatar {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.post .title,
.post .date,
.post .comments,
.post .views {
    font-weight: 400;
    color: #999;
    text-transform: capitalize;
}

.post .title::after,
.post .date::after,
.post .comments::after,
.post .views::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}

.post .post-tags {
    margin-top: 30px;
}

.post .post-tags .tag {
    padding: 5px 25px;
    border: 1px solid #ddd;
    margin: 5px;
    color: #777;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    border-radius: 50px;
}

.post .post-tags .tag:hover {
    background: #796AEE;
    color: #fff;
    border-color: #796AEE;
}

.post .meta-last::after {
    display: none;
}

main.blog-post {
    padding-left: 0;
    padding-right: 0;
}

main.blog-post .post-footer {
    font-size: 0.8em;
}

main.blog-post .post-thumbnail img {
    width: 100%;
    margin-bottom: 10px;
}

main.blog-post h1 {
    color: #444;
    line-height: 1.1em;
}

main.blog-post h1:hover {
    color: #444;
}

main.blog-post .post-footer {
    margin-top: 20px;
}

main.blog-post .post-body {
    margin-top: 40px;
}

main.blog-post .post-body h2,
main.blog-post .post-body h3,
main.blog-post .post-body h4,
main.blog-post .post-body h5,
main.blog-post .post-body h6 {
    color: #333;
}

main.blog-post .post-body p {
    margin-bottom: 30px;
}

main.blog-post .post-body p:not(.lead) {
    font-size: 1em;
    line-height: 1.7em;
    color: #555;
}

main.blog-post .posts-nav {
    margin-top: 50px;
    color: #777;
    font-size: 0.8em;
}

main.blog-post .posts-nav a {
    color: inherit;
    width: calc(50% - 10px);
    padding: 10px 20px;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

main.blog-post .posts-nav a:hover {
    border-color: #796AEE;
}


main.blog-post .post-comments {
    margin-top: 50px;
}

main.blog-post .post-comments span.no-of-comments {
    color: #777;
    font-size: 0.8em;
    margin-left: 5px;
    font-weight: 400;
}

main.blog-post .post-comments header {
    margin-bottom: 40px;
}

main.blog-post .post-comments .comment:last-of-type .comment-body {
    border-bottom: none;
}

main.blog-post .post-comments .image {
    margin-right: 15px;
}

main.blog-post .post-comments .title::after {
    display: none;
}

main.blog-post .post-comments img {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
}

main.blog-post .post-comments strong {
    display: block;
    color: #555;
}

main.blog-post .post-comments span.date {
    font-size: 0.8em;
    color: #999;
}

main.blog-post .post-comments span.date::after {
    display: none;
}

main.blog-post .post-comments .comment-body {
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

main.blog-post .post-comments p {
    font-size: 0.95em;
    color: #555;
}

main.blog-post .add-comment {
    margin-top: 50px;
}

main.blog-post .add-comment header {
    margin-bottom: 30px;
}

main.blog-post .add-comment input,
main.blog-post .add-comment textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    border-radius: 0;
    font-family: "Open Sans", sans-serif;
}

main.blog-post .add-comment input::-moz-placeholder,
main.blog-post .add-comment textarea::-moz-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

main.blog-post .add-comment input::-webkit-input-placeholder,
main.blog-post .add-comment textarea::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

main.blog-post .add-comment input:-ms-input-placeholder,
main.blog-post .add-comment textarea:-ms-input-placeholder {
    font-weight: 400;
    font-size: 0.9em;
    color: #aaa;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

main.blog-post .add-comment textarea {
    min-height: 150px;
}

/*.title .views {
    background: url(../../img/eye.png) 0 50% no-repeat;
    padding-left: 30px;
}
.title .comments {
    background: url(../../img/massage.png) 0 50% no-repeat;
    padding-left: 20px;
}*/

.widget.latest-posts a {
    display: block;
    color: #555;
    text-decoration: none;
}

.widget.latest-posts a:hover {
    color: #000;
}

.widget.latest-posts .image {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 20px;
}

.widget.latest-posts .item {
    margin-bottom: 20px;
}

.widget.latest-posts strong {
    font-size: 0.95em;
    display: block;
    line-height: 1em;
}

.widget.latest-posts .views,
.widget.latest-posts .comments {
    font-size: 0.8em;
    font-weight: 400;
    color: #bbb;
    margin-top: 10px;
}

.widget.latest-posts .views i,
.widget.latest-posts .comments i {
    margin-right: 5px;
}

.widget.latest-posts .views::after,
.widget.latest-posts .comments::after {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    font-size: 0.9em;
    color: #ccc;
}

.widget.latest-posts .comments::after {
    display: none;
}

.widget.categories .item {
    background: #fafafa;
    padding: 10px;
    color: #777;
    font-weight: 700;
}

.widget.categories .item:nth-of-type(2n+2) {
    background: none;
}

.widget.categories .item a {
    color: inherit;
    font-size: 0.95em;
}

.widget.categories .item a:hover {
    color: #000;
    text-decoration: none;
}

.widget.categories .item span {
    font-size: 0.9em;
    color: #aaa;
}

.comments-icon {
   /* background: url(../../img/massage.png) 0 50% no-repeat;*/
    padding-left: 20px;
}
.container {
    margin: 30px auto;
}

@media (max-width: 768px) {
  nav.navbar::after {
    width: 100%;
  }
  nav.navbar.active::after {
    width: calc(100% - 170px);
  }
  section.hero .container {
    padding: 150px 20px;
  }
  .post {
    margin-bottom: 40px;
  }
  .post:last-of-type {
    margin-bottom: 0;
  }
  footer.main-footer div {
    margin-bottom: 40px;
  }
  footer.main-footer div:last-of-type {
    margin-bottom: 0;
  }
  footer.main-footer .latest-posts > a {
    width: 100%;
    margin-bottom: 20px;
  }
  footer.main-footer .copyrights div {
    margin-bottom: 20px;
    text-align: center;
  }
  footer.main-footer .copyrights div:last-of-type {
    margin-bottom: 0;
  }
}
@media (max-width: 992px) {
    section.featured-posts .image {
        order: 1;
        min-height: auto;
    }
    section.featured-posts .image img {
        width: 100%;
        height: auto;
    }
    section.featured-posts .text {
        order: 2;
    }
}

@media (max-width: 576px) {
  section.featured-posts .post-footer {
    font-size: 0.9em;
  }
}

@media (max-width: 350px) {
  section.featured-posts .text-inner {
    padding: 15px;
  }
  section.featured-posts .post-footer {
    font-size: 0.75em;
  }
}

